* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.checkbox__items {
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #00d0f3;
    border-radius: 50px;
    width: 200px;
    height: 100px;
    border: 4px solid #99ecfa;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .1s, border-color .1s linear;
}

.checkbox__input {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.checkbox__input:checked~.checkbox__items {
    background-color: #1a2762;
    border-color: #5668b5;
}

.checkbox__sun-moon {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #ffe441;
    border-radius: 70px;
    transition: transform .3s linear;
}

.checkbox__sun-moon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 70px;
    background-color: #1a2762;
    opacity: 0;
    transform: translate(20px, -10px);
    transition: opacity .1s;
}

.checkbox__input:checked~.checkbox__items .checkbox__sun-moon::before {
    opacity: 1;
}

.checkbox__input:checked~.checkbox__items .checkbox__sun-moon {
    transform: translateX(110px);
}

.checkbox__cloud-body {
    position: absolute;
    right: 75px;
    top: 46px;
}

.checkbox__cloud {
    width: 95px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    transition: transform .3s linear, opacity .3s linear;
}

.checkbox__cloud::before,
.checkbox__cloud::after {
    content: '';
    position: absolute;
    background-color: #fff;
    display: block;
    border-radius: 100px;
}

.checkbox__cloud::after {
    width: 35px;
    height: 35px;
    top: -13px;
    right: 15px;
}

.checkbox__cloud::before {
    width: 45px;
    height: 45px;
    top: -22px;
    right: 39px;
}

.checkbox__input:checked~.checkbox__items .checkbox__cloud {
    transform: translateX(30px);
    opacity: 0;
}

.checkbox__stars {
    transform: translateX(-15px);
    opacity: 0;
    transition: opacity .3s linear;
}

.checkbox__input:checked~.checkbox__items .checkbox__stars {
    opacity: 1;
    transition-delay: .2s;
}

.checkbox__star {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: -22px 18px 0 1.2px #fff, -15px -23px 0 2px #fff, 14px -15px 0 0 #fff, 14px 15px 0 0 #fff;
}