@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#444, #222);
}

.card {
    position: relative;
    width: 200px;
    height: 200px;
}

.card .rating {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: #f00; */
}

.card .rating .block {
    position: absolute;
    width: 2px;
    height: 15px;
    background: #000;
    left: 50%;
    transform-origin: 50% 100px;
    opacity: 0;
    animation: animate .1s linear forwards;
}

@keyframes animate {
    to {
        opacity: 1;
    }
}

.card .rating h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    line-height: 1.5em;
}

.card .rating h2 span {
    font-size: 2.5em;
    font-weight: 700;
    display: inline-flex;
}

/* .card .rating h2 sup {
    font-size: 1.5em;
    font-weight: 300;
} */

.card .rating h2 span::after {
    content: '%';
    font-size: .6em;
    font-weight: 300;
}