.container {
    padding: .8rem;
    border-left: .4rem solid;
    border-radius: 4px;
    margin: 1rem 0;
}

.container .title {
    font-weight: 600;
}

.container.error {
    border-left-color: #c00;
    background-color:#ffe6e6;
    color:#4d0000;
}

.container.error .title {
    color: #900;
}

.container.warning {
    border-left-color: #e7c000;
    background-color: rgba(255,299,100,.3);
    color:#6b5900;
}

.container.warning .title {
    color: #b29400;
}

.container.info {
    border-left-color: #42b983;
    background-color: #f3f5f7;
}
