@media (min-width: 70rem) {
    nav.table-of-contents {
        position: fixed;
        left: 1em;
        background-color: var(--cbg);
        z-index: -1;
    }
}

@font-face {
    font-family: 'AlphaDia';
    src: url('AlphaDia.otf') format('opentype');
}

.chess {
    font-family: "AlphaDia";
    line-height: normal;
}